In [2]:
#Tuple 

#Creating Tuple
simple_tuple = ("Collection" ,'Multiple Items', 6)
print(simple_tuple)

('Collection', 'Multiple Items', 6)

In [6]:
# display type
simple_tuple = ("Collection" ,'Multiple Items', 6)
print(type(simple_tuple))

<class 'tuple'>

In [7]:
# display length of tuple
simple_tuple = ("Collection" ,'Multiple Items', 6)
tuple_length = len(simple_tuple)
print(tuple_length)

3

In [3]:
# create nested tuple
nested_tuple = ("Types",("Simple" ,"Nested"), (1, 2))
print(nested_tuple)

('Types', ('Simple', 'Nested'), (1, 2))

In [9]:
# display type of nested tuple
nested_tuple = ("Types",("Simple" ,"Nested"), (1, 2))
print(type(nested_tuple))

<class 'tuple'>

In [10]:
# display length of nested tuple
nested_tuple = ("Types",("Simple" ,"Nested"), (1, 2))
nested_length = len(nested_tuple)
print(nested_length)

3

In [11]:
#Tuple Creation for Strings
tuple_str = "Create Tuple from String"
print(tuple_str)

Create Tuple from String

In [13]:
# split string (separator = whitespace)
tuple_str = "Create Tuple from String"
list_from_str = tuple_str.split(" ")
print(list_from_str)

['Create', 'Tuple', 'from', 'String']

In [14]:
# typecast list to tuple
tuple_str = "Create Tuple from String"
tuple_from_list = tuple(list_from_str)
print(tuple_from_list)

('Create', 'Tuple', 'from', 'String')

In [15]:
#Another Example
string_tuple = "Example for Tuple Creation from String"
str_list = string_tuple.split(" ")
tuple_list = tuple(str_list)
print(tuple_list)

('Example', 'for', 'Tuple', 'Creation', 'from', 'String')

In [21]:
#Indexing Tuples

# Positive Indexing 
tuple_indexing = (1, 2, 3, 4, 5)
print(tuple_indexing[3])

4

In [24]:
# Positive Indexing with 2D Tuples(Nested)
tuple_indexing = (1, (2, 3, 4), 5)
print(tuple_indexing[1])

(2, 3, 4)

In [25]:
#Negative Indexing
tuple_indexing = (1, (2, 3, 4), 5)
tuple_indexing[-len(tuple_indexing)]

1

In [26]:
# print last item using negative index
tuple_indexing = (1, (2, 3, 4), 5)
tuple_indexing[-1]

5

In [30]:
#Slicing Tuples
simple_tuple = ("item 1",'item 2', 3, 4)
print(simple_tuple)
simple_tuple[:3]

('item 1', 'item 2', 3, 4)

('item 1', 'item 2', 3)

In [35]:
# slice last 3 items using negative index
#Slicing Tuples
simple_tuple = ("item 1",'item 2', 3, 4)
simple_tuple[-3:]

('item 2', 3, 4)

In [34]:
# get tuple items at even index
simple_tuple = ("Nobita", 'and', "Doraemon", True)
print(simple_tuple)
simple_tuple[::2]

('Nobita', 'and', 'Doraemon', True)

('Nobita', 'Doraemon')

In [36]:
# slice first 3 tuple items using negative index
simple_tuple = ("Nobita", 'and', "Doraemon", True)
simple_tuple[2::-1]

('and', 'Doraemon', True)

In [37]:
# slice last 3 tuple items using negative index
simple_tuple = ("Nobita", 'and', "Doraemon", True)
simple_tuple[-1:-4:-1]

(True, 'Doraemon', 'and')

In [38]:
# reverse tuple
simple_tuple = ("Nobita", 'and', "Doraemon", True)
simple_tuple[::-1]

(True, 'Doraemon', 'and', 'Nobita')

In [43]:
#Tuple are immutable
simple_tuple = ("item1", 2, 'item3', 4)
simple_tuple[0] = "item0"

TypeError: 'tuple' object does not support item assignment

In [44]:
#Tuples Methods
tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
print(tuple_method)

(1, 2, 2, 2, 3, 4, 2, 5, 6, 7)

In [45]:
# count number of occurence of item "2"
tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
print(tuple_method.count(2))

4

In [46]:
# get index of first item "4"
tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
tuple_method.index(4)

5

In [50]:
#add item in Tuple
# Write your program here for approach 1
simple_tuple = ("I" ,"ate", 2 ,'apple',"and")

#typecast to list 
list_from_tuple = list(simple_tuple)

# append item to list
list_from_tuple.append("Mango")

# typecast back to Tuple
simple_tuple = tuple(list_from_tuple)

print(simple_tuple)

('I', 'ate', 2, 'apple', 'and', 'Mango')

In [49]:
# write your program for approach 2
simple_tuple = ("item1", 2, 'item3', 4)

# define tuple to add 
add_tuple = ("item5",)

simple_tuple = simple_tuple+add_tuple

print(simple_tuple)

('item1', 2, 'item3', 4, 'item5')

In [52]:
#Unpack Tuples
# create tuples of length 4
# unpack tuples items to 4 other variables
a, b, c, d = tuple_example = ("I" , 'am' ,'a',"Student")
print(a)
print(b)
print(c)
print(d)

I
am
a
Student

In [57]:
#unpack tuples using Asterik *
*a, b, c = simple_tuple =("I" , 'am' ,'a',"Student")
print(a)
print(b)
print(c)

['I', 'am']
a
Student

In [59]:
#Loop Tuples
#Initialize Tuples and loop through Tuples items one by one.
tuples_eg = ("Example",'of Tuples', False )
for item in tuples_eg:
    print(item)
    print('------------------')

Example
------------------
of Tuples
------------------
False
------------------

In [61]:
#Use enumerate() function to loop through Tupes to get index and values.
tuples_eg = ("Example",'of Tuples', False )
for list, item in enumerate(tuples_eg):
    print(list,item)
    print('------------------')

0 Example
------------------
1 of Tuples
------------------
2 False
------------------

In [62]:
#Write a python program to lowercase item in given Tuples using Tuple comprehension.
sample_tuple = ("APPLE", "Mango", "BaNaNa", "GRapes")

lower_tuple = tuple(item.lower() for item in sample_tuple)

print(lower_tuple)

('apple', 'mango', 'banana', 'grapes')